tqdm
numpy
pandas
termcolor
gymnasium
pyyaml
tenacity

# cyberbattlesim @ git+https://github.com/MarcCote/CyberBattleSim.git@fix_gymnasium
cyberbattlesim @ git+https://github.com/microsoft/CyberBattleSim.git@main

datasets

#WikiSQL
#pysqlite3
#wikisql

# Code fixing
codebleu
tree-sitter<0.23.0
tree-sitter-c<0.23.0
tree-sitter-php<0.23.0
tree-sitter-python<0.23.0
tree-sitter-java<0.23.0
tree-sitter-cpp<0.23.0
tree-sitter-javascript<0.23.0
tree-sitter-ruby<0.23.0
tree-sitter-go<0.23.0
Levenshtein

# Data processing
scikit-learn

# baselines
openai
wandb

setuptools~=70.0.0
wheel===0.44.0
gymnasium==0.29.1
numpy==1.26.4
boolean.py==4.0
networkx==3.2.1
pyyaml~=6.0
matplotlib>=3.9.4
plotly~=5.15.0
tabulate~=0.8.7
progressbar2==4.4.2
decorator==4.3
zipp==3.19.1
ipython==8.18.1
pandas>=2.2.2
